# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
.jupyter_cache
# pyenv

# R specific
.Rproj.user
*.Rproj

# MacOS specific
.DS_Store
/env/
*.code-workspace

# Quarto
/.quarto/
pages/*_cache/
pages/*_files/
/notes/
/_do-not-build/**

# Spelling
/.cspell/
slides/empty.qmd
docs/slides/empty.html

.vscode/
config.yaml
pages/config.yaml

# assets
/assets/ppt/~*

/.luarc.json


**/*.quarto_ipynb
